<% if (errors) { %>
    <ul class="notice">
    <% errors.array().forEach(error => { %>
        <li><%= error.msg %></li>
    <% }) %>
    </ul>
<% } %>

<div class="form-div">
    <form action="/account/registration" method="post" id="registration-form">
        <p class="italic-required-statement">All fields are required.</p>
        <fieldset>
            <label for="account_firstname">First name<input type="text" required name="account_firstname" id="account_firstname" value ="<%= locals.account_firstname %>"></label>
            <label for="account_lastname">Last name<input type="text" required name="account_lastname" id="account_lastname" value ="<%= locals.account_lastname %>"></label>
            <label for="account_email">Email address<input type="email" required name="account_email" id="account_email" value ="<%= locals.account_email %>"></label>
            <label for="account_password">Password<input type="password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$" required name="account_password" id="account_password"></label>
        
            <p class="italic-required-statement">Passwords must have a minimum of 12 characters and include 1 capital letter, 1 number, and 1 special character.</p>

            <button type="submit" id="register-button">Register</button>
        </fieldset>
    </form>
</div>