<% if (title) { %>
<h1><%= title %></h1>
<%- messages() %>

<% } else {
    res.redirect('/')
} %>

<p><a href="/inv/add-classification">Add New Classification</a></p>
<p><a href="/inv/add-inventory">Add New Vehicle</a></p>